[Desktop Entry]
Name=Linux Drive
Comment=Unofficial
Exec=/usr/share/LinuxDrive/scripts/yad_LinuxDrive.sh
Icon=/usr/share/LinuxDrive/icons/tray.svg
Terminal=false
Type=Application
Categories=Internet
